<!doctype html>
<hmtl>
<head>
    <meta charset="UTF-8">
    <title>Treehugger</title>
    
</head>
  
 <body>
    <h1> Treehugger &trade;</h2> 
    <h2> Find a tree near you.</h2>
    
  <form>
  <p>Enter your zipcode:</p> <br>
		<input type="text" placeholder="Zipcode" name="zipcode" required> <br>
		<input type ="submit" value="send"> <br>
	</form>
   
   
   
</body>
  
  </html>