<!doctype html>
<hmtl>
<head>
    <meta charset="UTF-8">
    <title>Treehugger</title>
    <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js</script">
		</script>
</head>
  
 <body>

<div class="content">
	<div class="top_block block_1">
     <img src="images/logo.png" alt="Hugging Manhattan trees since 2015.">     

		<div class="content">
       <div class="clear">
          <div id=header>
           <div id="logo">
            <p> TREEHUGGER &trade;</p> 
    <!--         <h3> Find a tree to hug near you.</h3> -->
            </div> <!--logo-->
         </div> <!--header-->
       </div><!--clearfix-->
    </div>
  </div>
</div>

  <div class="clear">
    <h2>ENTER YOUR ZIP</h2> <br>
    <form method="POST" action="/profile">
      <input type="text" placeholder="Manhattan zipcode" name="zipcode" style="width: 340px; height: 100px;" required> <br>
      <input type ="submit" value="Start hugging!"> <br>
    </form>
  </div>
   
   <div class="content">
		<div class="top_block block_1">
			<div class="content">
   
</body>
  
  </html>