@import url(http://fonts.googleapis.com/css?family=Sniglet:400,800);

#logo p { 
	font-family: 'Sniglet';
  font-size: 9em;
	text-align: center;
  font-style: cursive;

}

#logo h3 {
	font-family: "Arial", bold;
	text-align: center;
  font-style: bold;
  font-size: 2em;
}

h2 {
	font-family: "Arial", bold;
	text-align: center;
  font-style: bold;
  font-size: 3em;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    float: left;
}

form {
  text-align: center;
  min-width: 200px;/* set the min width here */
  width: 50%;
  max-width: 400px;/* set the max width here */
  margin: 0 auto; 
}